{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
		

    <title>Posts</title>
</head>
<body>
   	        <div style="margin:10px; padding:50px;">
				<br>
				<a href="{% url "home" %}" class="no-style"><i class="fa-solid fa-house" style="font-size:50px; "></i></a>


				<!-- Two -->
					<section id="two">
						<h2>All Posts</h2>
						
						<div class="row">
							{% for post in posts %}
							
							<article class="col-4 col-12-xsmall work-item">
								<a href="{% url 'post_detail' post.slug %}" class="image fit thumb"><img src="{{ post.image.url }}" alt="{{post.title}}" /></a>
								<h3>{{post.title}}</h3>{% if post.post_type == "project" %}	<h3 style="color:rgba(0, 0, 0, 0.83);;">{{post.post_type}}</h3>{% endif %}
							</article>
							
							{% endfor %}
						</div>

					</section>

			

			</div>
    </body>
</html>